{% extends 'generator/layout.html' %}

{% block content %}
<div class="col-md-8 offset-md-2" style="grid-column: 1;">
    <h1>¿ Por qué crear una contraseña segura ?</h1>
    <br>
    <p>
        Al tener contraseñas más seguras, podremos evitar intrusiones o suplantación de nuestra identidad en la red (internet). Internet puede ser una grieta para acceder a los datos del usuario. En ocasiones, la despreocupación por parte del usuario, puede ser un problema de fácil prevención.

        Sí tu contraseña tiene un porcentaje inferior al 50% de seguridad, se aconseja cambiarla. Lo más recomendable es que sea superior al 70%. Asegúrate de que estás en este umbral para no tener problema de, por ejemplo, robo de datos, manipulación, extorsiones, etc.

        Algunos consejos importantes a la hora de generar tus futuras contraseñas:
    </p>

    <ul>
        <li>Cambia las contraseñas frecuentemente</li>
        <li>No utilices la misma para diferentes cuentas</li>
        <li>Utiliza una combinación de letras mayúsculas y minúsculas, símbolos y números.</li>
        <li>No respondas ‘sí’ cuando te solicitan guardar la contraseña en el navegador de un ordenador público</li>
        <li>No utilices nombres o números asociados a ti (fecha de nacimiento, nombres de mascotas, etc)</li>
        <li>No utilices contraseñas fáciles de acertar tipo '12345' - 'admin' - 'contraseña'</li>
    </ul>

    <p>
        Siguiendo estos consejos es “probable” que tus cuentas estén más seguras y proteger tus datos de una forma más efectviva. <br>
        <br>
        Una contraseña es tan importante como la información que protege. Con ellas cuidamos que nuestra información privada no se vuelva del dominio público. Todos tenemos información que proteger pero no siempre sabemos hacerlo bien.
    </p>
</div>

{% endblock %}